@import "../variables/Variables.scss";

.filter-container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  background: white;
  position: relative;
  bottom: -50%;
height: 80px;
display: flex;
justify-content: space-between;
padding-inline: 20px;
}



.filter-container button {
  background: none;
  border: none;

}
.filter-values{
    display: flex;
 
     padding: 10px;
  background-color: transparent;
  border: none;
}
.filter-values .item {
background-color: $LightGrayishCyanBg;

margin-left: 15px;
display: flex;
align-items: center;
justify-content: space-between;
gap: 6px;

}
.filter-values .item button{
  background-color: $DesaturatedDarkCyan;
  color: white;
  cursor: pointer;
  
 
}
.item button:hover, .item button:active{
  background-color: $VeryDarkGrayishCyan;
}
@media (max-width: 768px) {
.filter-container {
width: 90%;
  align-items: center;
  background: white;
  position: relative;
  bottom: -70%;
  min-height: 100px;
}
}