.filter-values{
width: 80%;
margin-inline: auto;
    display: flex;
    align-items: center;
    background: white;
   position: relative;
   bottom: -50%;
   padding-block: 30px;
}
.filter-values div{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
}
.filter-values button{
    background: none;
    border: none;

}