@import "../variables/Variables.scss";
.container{
background: url(../../assets/bg-header-desktop.svg) no-repeat center center/cover;
background-color: $DesaturatedDarkCyan;
height: 100px;
position: relative;
width: 100%;
}

// .filter-values{
// width: 80%;
// margin-inline: auto;
//     display: flex;
//     align-items: center;
//     background: white;
//    position: relative;
//    bottom: -50%;
//    padding-block: 30px;
// }
// .filter-values input{
//     width: 100%;
//     padding: 10px;
//     background-color: transparent;
//     border: none;
// }
// .filter-values button{
//     background: none;
//     border: none;

// }

@media  screen and (max-width: 768px){
    .container{
background: url(../../assets/bg-header-mobile.svg) no-repeat center center/cover;
background-color: $DesaturatedDarkCyan;
height: 200px;

}
}